<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
</head>
<body>
    <div id="root" >
        <input type="text" v-model="mag"  > <br/>
        <label><input type="checkbox" v-model="data">男生</label>
        <p> {{mag}} </p>
        <p> {{data}} </p>

        <input type="text" v-bind:value="value" >
        <input type="text" v-model="value" >
        <input type="text" :value="value" >


        <input type="button" value="按钮"  v-on:click="click" >
        <input type="button" value="按钮"  @click="click" >
        <input type="text" @change="change" >
        <input type="text" @input="input" >


       
    </div>
    <script src="./vue.js"  ></script>
    <script>
      const  mag='hollow wrold'
      const  data=true
        
     const res= new Vue({
          el:'#root',
          data:{
              mag,
              data,
              value:'老赵，老赵'
          },
          methods:{
              click(){
                  console.log('普通写法')  
              }
          }
      })
      console.log(res)
      console.log(res.$data.mag)

    </script>
</body>
</html>